services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fund_transfer_app
    working_dir: /var/www
    volumes:
      - .:/var/www
    depends_on:
      - mysql
      - redis

  nginx:
    image: nginx:alpine
    container_name: fund_transfer_nginx
    ports:
      - "8001:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  mysql:
    image: mysql:8.0
    container_name: fund_transfer_mysql
    environment:
      MYSQL_DATABASE: fund_transfer_api
      MYSQL_USER: fund_transfer
      MYSQL_PASSWORD: fund_transfer123
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:alpine
    container_name: fund_transfer_redis
    ports:
      - "6380:6379"

volumes:
  mysql_data:
